# Environment
.env
.env.*

# Dependencies
device.json
node_modules/

# Build output
dist/
www/
platforms/
plugins/
coverage/
.angular/
.angular/cache/
.tmp/
tmp/

# Ionic/Capacitor
default.www/
android/
ios/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
