// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #007aff;
  --ion-color-primary-rgb: 0, 122, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0067d6;
  --ion-color-primary-tint: #1a8fff;

  --ion-background-color: #f2f2f7;
  --ion-text-color: #000000;
  --ion-toolbar-background: #ffffff;
  --ion-item-background: #ffffff;
}

/* DARK MODE — compatível com iOS */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #1c1c1d;
    --ion-item-background: #1c1c1d;
  }
}
